USE [master]
GO
/****** Object:  Database [RecruitDB]    Script Date: 07/03/2018 22:58:27 ******/
CREATE DATABASE [RecruitDB] ON  PRIMARY 
( NAME = N'RecruitDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\RecruitDB.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'RecruitDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\RecruitDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RecruitDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RecruitDB]
GO
/****** Object:  Table [dbo].[seeker]    Script Date: 07/03/2018 22:58:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[seeker](
	[Sid] [int] IDENTITY(1,1) NOT NULL,
	[Sname] [varchar](10) NOT NULL,
	[Sresume] [int] NULL,
	[Susername] [varchar](20) NOT NULL,
	[Spassword] [varchar](20) NOT NULL,
 CONSTRAINT [PK_seeker] PRIMARY KEY CLUSTERED 
(
	[Sid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[resume]    Script Date: 07/03/2018 22:58:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[resume](
	[Rid] [int] IDENTITY(1,1) NOT NULL,
	[Rname] [varchar](10) NOT NULL,
	[Rsex] [varchar](2) NULL,
	[Rbirth] [date] NULL,
	[Rtel] [nchar](11) NULL,
	[Rphoto] [varchar](20) NULL,
	[Remail] [varchar](20) NULL,
	[Redu] [varchar](255) NULL,
	[Rworktime] [varchar](10) NULL,
	[Revaluate] [varchar](255) NULL,
	[Rproject] [varchar](255) NULL,
	[Rtech] [varchar](255) NULL,
	[Rhonor] [varchar](255) NULL,
	[Rhobby] [varchar](50) NULL,
 CONSTRAINT [PK_resume] PRIMARY KEY CLUSTERED 
(
	[Rid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[news]    Script Date: 07/03/2018 22:58:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[news](
	[Nid] [int] IDENTITY(1,1) NOT NULL,
	[Sid] [int] NOT NULL,
	[Ntitle] [varchar](70) NOT NULL,
	[Ncontent] [text] NOT NULL,
	[Ntime] [varchar](50) NOT NULL,
 CONSTRAINT [PK_news] PRIMARY KEY CLUSTERED 
(
	[Nid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[job]    Script Date: 07/03/2018 22:58:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[job](
	[Jid] [int] IDENTITY(1,1) NOT NULL,
	[Jname] [varchar](20) NOT NULL,
	[Jcompany] [int] NOT NULL,
	[Jneed] [varchar](20) NOT NULL,
	[Jsalary] [varchar](255) NOT NULL,
	[Jduty] [varchar](255) NOT NULL,
	[Jdemand] [varchar](255) NOT NULL,
	[Jdate] [date] NOT NULL,
 CONSTRAINT [PK_job] PRIMARY KEY CLUSTERED 
(
	[Jid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[employ]    Script Date: 07/03/2018 22:58:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employ](
	[Eid] [int] IDENTITY(1,1) NOT NULL,
	[Jid] [int] NOT NULL,
	[Sid] [int] NOT NULL,
	[Edate] [datetime] NOT NULL,
 CONSTRAINT [PK_employ] PRIMARY KEY CLUSTERED 
(
	[Eid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[company]    Script Date: 07/03/2018 22:58:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[company](
	[Cid] [int] IDENTITY(1,1) NOT NULL,
	[Cname] [varchar](20) NOT NULL,
	[Cdetails] [varchar](max) NOT NULL,
	[Cusername] [varchar](20) NOT NULL,
	[Cpassword] [varchar](20) NOT NULL,
	[Caddress] [varchar](50) NOT NULL,
 CONSTRAINT [PK_company] PRIMARY KEY CLUSTERED 
(
	[Cid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Apply]    Script Date: 07/03/2018 22:58:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Apply](
	[Aid] [int] IDENTITY(1,1) NOT NULL,
	[Jid] [int] NOT NULL,
	[Sid] [int] NOT NULL,
	[Acomment] [varchar](255) NULL,
	[Adatetime] [datetime] NOT NULL,
 CONSTRAINT [PK_Apply] PRIMARY KEY CLUSTERED 
(
	[Aid] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
